/* === HOME === */
/* === RECIPES === */
/* === ABOUT === */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
header div {
  display: flex;
  padding: 0px 122.4px 0px 231px;
}
header div a {
  margin: 38px 0px 36px 30px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  line-height: 19px;
  text-decoration: none;
}
#logo {
  margin-right: 122.4px
}

#description {
  margin-left: 231px;
  position: relative;
  height: 366px;
  width: 940px;
  border-radius: 30px;
  background: #FBDFDB;
}

div h1 {
  display: flex;
  position: absolute;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 117px 575px 220px 60px;
}
div p {
  margin: 165px 0px 0px 60px;
  width: 316px;
  height: 84px;
  position: absolute;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  font-weight: 600;
  opacity: 70%;
}
img#chef{
  display: block;
  position: absolute;
  margin: 66px 0px 0px 560px;
  align-items: bottom;
}

h2 {
  margin: 50px 0px 20px 230px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

#most_accessed {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 230px;
}
.card_image img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin: 40px 0px 0px 0px;
}

.recipe_title p {
  margin: 20px 0px 5px 20px;
  opacity: 100%
}

.by_who {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 22px
}

#Copyright {
  display: inline-block;
  position: relative;
  background: #EEEEEE;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  font-weight: 400;
  padding: 10px 567px 10px 566px;
  margin-bottom: 0;
  margin-top: 600px;
}

/* === HOME === */

/* === RECIPES === */

#recipes {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 230px;
}
.card_image img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin: 40px 0px 0px 0px;
}

.recipe_title p {
  margin: 20px 0px 5px 20px;
  opacity: 100%
}

.by_who {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 22px
}

/* === ABOUT === */

h3 {
  color: #111111;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 10px 100px 30px 200px;
}

h4 {
  color: #444444d7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 940px;
  margin: 10px 100px 30px 200px;
}

h5 {
  color: #111111;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 10px 100px 10px 200px;

}

h6 {
  color: #444444d7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  width: 940px;
  margin: 20px 100px 10px 200px;
}

#recipes {
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 200px;
  margin: 10px 100px 20px 100px;
}

#recipesP {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  width: 940px;
  height: 112px;
  margin: 60px 230px 0px 100px
}


#recipesCards {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 230px;
}

/* === RECIPES === */

.cardRecipe {
  cursor: pointer;
}


.modalOverlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

#modal {
  position: relative;
  background: white;
  width: 660px;
  height: 413px;
  border-radius: 16px;
  margin: 20vh auto;
}

#closeModal {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #999999;
  font-weight: 500;
  margin: 364px 281px 30px 281px;
  cursor: pointer;
}

/* === RECIPES.ACTIVE === */

.modalOverlay.active {
  opacity: 1;
  visibility: visible;
}

.recipe_image {
  border-radius: 15px;
  width: 600px;
  height: 200px;
  margin: 30px 30px 0px 30px;
}

.recipeTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #111111;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.recipebyWho {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;

}